{% extends 'base.html' %}
{% load static %}
{% block title %} Social District Clothing {% endblock %} 
{% block content %}
  <section class="hero-section">
    <video class="video-bg" autoplay muted loop playsinline>
      <source src="{% static 'videos/sdcHomepage.mov' %}" type="video/mp4">
      Your browser does not support the video tag.
    </video>

    <div class="hero-overlay"></div>

    <div class="hero-content container">
      <h1 class="display-4 fw-bold mb-5">SOCIAL DISTRICT CLOTHING</h1>
      <a href="{% url "aboutus" %}" class="btn btn-orange btn-lg mt-5">Learn More</a>
    </div>
  </section>

    <div style="width: 100%; height:700px;" class="homeContent">
      <div class="bestSeller-title">
        <h2>BEST SELLER</h2>
      </div>

      <div class="container-homeContent d-flex flex-wrap justify-content-center">
        {% for product in best_selling_products %}
        <div class="item-container-home mx-5 p-3 border rounded bg-light" style="width: 20rem;">
          <h5 class="text-center">{{ product.prodnameid.name }}</h5>

          <div class="container-item-image my-3 text-center">
            <img class="item product-image img-fluid"
                src="{{ product.productimage }}"
                alt="{{ product.prodnameid.name }}">
          </div>

          <p class="text-muted text-center">Color: {{ product.colorid.colorname }}</p>
          <p class="text-center fw-bold">₱{{ product.priceid.amount }}</p>

          <div class="d-flex justify-content-between">
            <button class="btn btn-success btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#addToCartModal"
                    onclick="openAddToCartModal({
                      productID: '{{ product.productid }}',
                      imageURL: '{{ product.productimage }}',
                      sizes: [
                        {% for size in product.sizes %}
                          { id: '{{ size.sizeid }}', label: '{{ size.size }}' }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      ]
                    })">
              Add to Cart
            </button>
            <button class="btn btn-primary w-50 ms-1"
                    data-bs-toggle="modal"
                    data-bs-target="#addToCartModal"
                    onclick="openBuyNowModal({
                      productID: '{{ product.productid }}',
                      imageURL: '{{ product.productimage }}',
                      sizes: [
                        {% for size in product.sizes %}
                          { id: '{{ size.sizeid }}', label: '{{ size.size }}' }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                      ]
                    })">
              Buy Now
            </button>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
{% endblock %} 