{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %} 
{% block content %}
    
  <div class="container d-flex align-items-center my-5">
    <div class="abouttext gap-4 d-flex flex-column">
      <div class="container border rounded rounded-4 shadow p-2">
        <div class="text-center p-3 text-uppercase fs-2 title">
          Origin Story
        </div>
        <div class="p-4">
          <p>Started at 2020 as a clothing printing shop then developed into street style clothing and continued as of the affordable clothing for local in divisoria.</p>
        </div>
      </div>
      <div class="container border rounded rounded-4 shadow p-2">
        <div class="text-center p-3 text-uppercase fs-2 title">
          Mission
        </div>
        <div class="p-4">
          <p>To provide best clothing experience’s that will give quality assurance to “streetwear” category and provides good appearance to anyone who wears it.</p>
        </div>
      </div>
      <div class="container border rounded rounded-4 shadow p-2">
        <div class="text-center p-3 text-uppercase fs-2 title">
            Vision
        </div>
        <div class="p-4">
          <p>We Believe SDC is a business of optimism, we continue to grow and evolve. Mobile Shopping and Website Shopping making it more convenient to serve more customers. Clothing changes, Shopping changes but our commitment to customers doesn’t.</p>
        </div>
      </div>
    </div>
    <div class="mx-5">
      <div class="aboutus-Model me-5 d-flex flex-column gap-5">
        <div class="me-5">
          <img src="{% static 'images/Model1.jpg' %}" alt="" style="z-index: 1; width: 215px;">
        </div>
        <div class="me-5">
          <img src="{% static 'images/Model2.jpg' %}" alt="" style="z-index: 0; width: 215px;">
        </div>
      </div>
    </div>
  </div>

{% endblock %} 