{% extends 'base.html' %}
{% load static %}
{% block title %} About Us {% endblock %} 
{% block content %}
    
  <div class="container d-flex align-items-center my-5">
    <div class="mx-5">
      <div>
        <h6 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error alias, atque consequatur iusto accusantium dolor, porro maxime veniam similique voluptates eveniet ut temporibus est iste repudiandae suscipit pariatur? Eligendi, assumenda.</h6>
      </div>
    </div>
    <div class="mx-5">
      <div class="aboutus-Model me-5">
        <div class="me-5">
          <img src="{% static 'images/Model1.jpg' %}" alt="" style="z-index: 1;">
        </div>
        <div class="me-5">
          <img src="{% static 'images/Model2.jpg' %}" alt="" style="z-index: 0;">
        </div>
      </div>
    </div>
  </div>

{% endblock %} 