{% extends 'base.html' %}
{% load static %}
{% block title %} FAQ {% endblock %} 
{% block content %}

    <div class="container-fluid">
        <div class="container">
            <h1 class="text-center mt-5 mb-3">FAQ</h1>
        </div>
        <div class="container-fluid">
            <div class="container mx-auto w-90 my-5">
                <div class="container m-3">
                    <details>
                        <summary class="fw-bold fs-4" >HOW TO ORDER?</summary>
                        <p>Simply pick then fill up the order form with your valid email and contact number at https://www.sdc.com then go directly to the product section. Check your inbox for the order summary with your order number and payment instructions.</p>
                    </details>
                </div>
                <div class="container m-3">
                    <details>
                        <summary class="fw-bold fs-4" >WHAT IF I WANT TO CANCEL MY ORDER?</summary>
                        <p>You may email your request to sdc@gmail.com. However, please note that this is subject for approval and may only be approved if your order is still at the "PENDING" phase, and has not yet been processed.
                        <br><br>
                        Unfortunately, if the order has already been marked as "PROCESSED", we are unable to cancel it. This also means that the invoice is final and can no longer be modified</p>
                    </details>
                </div>
                <div class="container m-3">
                    <details>
                        <summary class="fw-bold fs-4" >I WANT TO EDIT THE ITEMS IN MY ORDER, IS THIS POSSIBLE?</summary>
                        <p>All orders are final upon placement, we cannot modify the quantity and/or the item on your order.</p>
                    </details>
                </div>
                <div class="container m-3">
                    <details>
                        <summary class="fw-bold fs-4" >WHAT ARE YOUR STORE HOURS?</summary>
                        <p>Our operating hours at Divisoria, Manila are from 12:30 PM until 8:30 PM every day. On the other hand, our branch at Divisoria 999 Mall 2 ( Pasilio 2D-12 ) operates from 10:00 AM to 10:00 PM, offering extended hours for your convenience.</p>
                    </details>
                </div>
                <div class="container m-3">
                    <details>
                        <summary class="fw-bold fs-4" >WHERE ARE YOU LOCATED?</summary>
                        <p>Our Flagship store can be found at Divisoria 999 Mall 2 ( Pasilio 2D-12 ) Divisoria, Manila. You'll have no trouble locating us using Waze or Google Maps. Simply search for "Social District Clothing" and you'll be on your way!.</p>
                    </details>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}